<h1 class="title"><%= best_in_place @note, :name%></h1>

<div id="subnotes">
	<% @note.subnotes.each do |subnote| %>
	<div class="subnote markdown">
		<%= best_in_place subnote, :content, type: :textarea, display_as: :md_content %>
	</div>	
	<% end %>	
</div>


<%= form_for @note.subnotes.build do |form| %>
	<%= form.text_area :content %><br>
	<%= form.hidden_field :note_id %><br>
	<%= form.submit "Add Subnote", class: "button" %>
<% end %>

<%= link_to 'Show', @note %> |
<%= link_to 'Back', notes_path %>
